// Import
@import './reset.scss', './fonts.scss', './variables.scss';

// Body
body {
  background: $background;
  overflow-x: hidden;
}

// Nav
.navbar{
  width: 100vw;
  position: fixed;
  top: 0; left: 0;
  z-index: 15;
  background: linear-gradient($background, transparent);
  backdrop-filter: blur(5px);
  .container{
    .navbar-brand{
      font-size: 32px;
      font-weight: bold;
      color: $primary;
    }
    .navbar-toggler{
      border: none;
      &:focus{
        box-shadow: none;
      }
    }
    .navbar-collapse{
      .navbar-nav-scroll{
        .nav-link{
          color: $white;
          transition: .35s;
          &:hover{
            color: $secondary;
          }
        }
      }
      .d-flex{
        .form-control{
          height: 35px;
          border-radius: 0;
          border: 1px solid $white;
          background-color: $blackOpacity30;
          color: $white;
          font-size: 16px;
          &::placeholder{
            font-size: 16px;
            color: $white;
          }
          &:focus{
            outline: none;
            border: 1px solid $primary;
            box-shadow: 0 0 5px 0 $primary;
            &::placeholder{
              color: transparent;
            }
          }
        }
        .btn{
          height: 35px;
          width: 100px;
          border-radius: 0;
          border: 1px solid $secondary;
          background-color: transparent;
          font-size: 14px;
          color: $white;
          &:hover{
            border: 1px solid $primary;
            background-color: $secondary;
            color: $black;
          }
        }
      }
    }
  }
}

// Footer
.footer{
  height: 100px;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Home Page
.homepage{
  h2{
    margin-top: 150px;
    font-size: 36px;
    font-style: italic;
  }
  p{
    margin-bottom: 30px;
  }
}

// Banner
.banner{
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: center;
  &::after{
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient($blackOpacity30, $background);
    transition: .5s;
  }
  .banner-text-box{
    width: 100%; height: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    color: #fff;
    .title-box{
      width: 100%;
      text-align: left;
      h2{
        width: fit-content;
        padding: 10px;
        font-size: 32px; font-weight: bold;
        font-style: italic;
        border: 1px solid $white;
        transition: .35s;
        cursor: pointer;
        &:hover{
          border: 1px solid $primary;
        }
      }
    }
    p{
      width: 390px;
      margin: 30px 0;
      word-break: normal;
    }
    span{
      margin-top: -15px;
      color: $accent;
    }
    .btn{
      width: 150px;
      margin-top: 15px;
      border-radius: 0;
      border: 1px solid $primary;
      background-color: transparent;
      color: $white;
      transition: .35s;
      &:hover{
        background-color: $primary;
        color: $black;
      }
    }
  }
}

// Movie card
.movie-card-wrap{
  margin-right: 30px;
  .movie-card-box{
    padding: 30px;
    border: 1px solid $white;
    overflow: hidden;
    transition: .35s;
    .movie-card{
      margin-right: 10px;
      height: 350px;
      position: relative;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      transition: .35s;
      cursor: pointer;
    }
  }
  .movie-title{
    width: 100%;
    margin-top: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
  }
  span{
    color: $accent;
  }
  &:hover{
    .movie-card-box{
      background-color: $white;
    }
  }
}

// Slide
.react-multiple-carousel__arrow{
  display: none;
}

// Modal
.modal{
  .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .modal-content{
      background-color: $background;
      .modal-header{
        border-bottom: none;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        .modal-title{
          font-size: 16px;
          font-weight: bold;
        }
        .btn-close{
          border-radius: 0;
          border: 1px solid $white;
          transition: .35s;
          &:hover{
            border: 1px solid $primary;
          }
        }
      }
      .modal-body{}
    }
  }
}

// Movie Detail
.movie-detail{
  .visual{
    width: 100vw;
    height: auto;
    padding: 100px;
    padding-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    &::after{
      content: '';
      width: 100%; height: 100%;
      position: absolute;
      top: 0; left: 0;
      background: linear-gradient($blackOpacity30, $background);
    }
    .row{
      width: 100%;
      .col-md-4{
        margin-bottom: 15px;
        position: relative;
        z-index: 5;
        text-align: center;
        img{
          width: 100%;
          position: relative;
          z-index: 10;
        }
      }
      .col-md-8{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: left;
        *{
          font-size: 16px;
        }
        .title{
          display: flex;
          align-items: center;
          gap: 20px;
          h2{
            font-size: 36px; font-weight: bold;
            font-style: italic;
          }
        }
        .info{
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          gap: 20px;
          .date{
            color: $white;
          }
          span{
            color: $accent;
          }
        }
        .overview{
          p{}
        }
        .badgeList{
          display: flex;
          gap: 10px;
          align-items: center;
          .age{
            .badge{
              border-radius: 0;
              font-size: 14px;
              &.bg-primary{
                background-color: #03C75A !important;
              }
            }
          }
          .genre{
            span{
              .badge{
                margin-right: 10px;
                border-radius: 0;
                font-size: 14px;
                &.bg-primary{
                  background-color: $white !important;
                  color: $black;
                }
              }
            }
          }
        }
        .lang{
          display: flex;
          flex-direction: row;
          gap: 10px;
          strong{}
          span{
            margin-top: -5px;
            font-size: 20px;
          }
        }
        .btn{
          width: 150px;
          margin-top: 50px;
          margin-bottom: 15px;
          border-radius: 0;
          background-color: transparent;
          border: 1px solid $primary;
          color: $white;
        &:hover{
          background-color: $primary;
          color: #000;
          font-weight: bold;
        }  
        }
      }
    }
    &::after{
      content: '';
      width: 100%; height: 100%;
      position: absolute;
      top: 0; left: 0;
      background: linear-gradient(transparent, rgba(#2e2d27, .7), rgba(#000, .9));
    }
  }
  .content{
    margin-top: 150px;
    .container{
      h3{
        width: fit-content;
        padding: 10px;
        margin-top: 150px;
        border: 1px solid $white;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
      }
      p{
        margin-bottom: 30px;
      }
      .cast{
        > div{
          .credit{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            margin-right: 20px;
            img{
              width: 200px;
              height: 230px;
              object-fit: cover;
            }
            strong{
              font-size: 20px;
              font-weight: bold;
            }
            p{
              margin: 0;
              margin-top: -15px;
              font-size: 16px;
            }
          }
        }
      }
      .review{
        .review-card{
          margin-top: 20px;
          .review-card-heading{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            img{
              border-radius: 50%;
            }
            .img-none{
              width: 45px; height: 45px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $primary;
              color: #000;
            }
            strong{
              font-size: 20px;
            }
            span{
              color: $accent;
            }
            .date{
              color: $white;
            }
          }
          p{
            max-height: 70px;
            padding: 15px 20px;
            background-color: $whiteOpacity30;
          }
          a{
            height: 30px;
            width: 100px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $primary;
            color: $white;
            transition: .35s;
            &:hover{
              background-color: $primary;
              color: $black;
            }
          }
        }
      }
      .recommendation{
        .row{
          > div{
            a{
              .similar-movie{
                img{
                  border-radius: 0 !important;
                  margin-bottom: 20px;
                }
                p{
                  text-align: center;
                  font-weight: bold;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.my-page{
  .container{
    margin-top: 100px;
    h2{
      font-size: 48px; font-weight: bold;
    }
    .row{
      display: flex;
      justify-content: space-between;
      > div{
        padding: 30px;
        border: 1px solid lightgrey;
        border-radius: 30px;
        &.col-md-5{
          display: flex;
          .my-image{
            flex:2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              height: 70%;
            }
          }
          .my-info{
            flex:3;
            ul{
              display: flex;
              flex-direction: column;
              gap: 10px;
              li{
                list-style: none;
                display: flex;
                flex-direction: column;
                word-break: normal;
                &:last-of-type{
                  margin-top: 20px;
                  a{
                    color: $primary;
                  }
                }
                b{
                  font-size: 18px;
                }
              }
            }
          }
        }
        &.col-md-7{
          .my-movie{
            > ul{
              padding: 0;
              display: flex;
              flex-direction: column;
              gap: 20px;
              > li{
                display: flex;
                flex-direction: column;
                list-style: none;
                b{
                  font-size: 18px;
                }
                span{}
                ul{
                  padding: 0;
                  display: flex;
                  gap: 20px;
                  li{
                    width: 50px; height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border-radius: 20px;
                    border: 1px solid #fff;
                    img{}
                  }
                }
              }
            }
          }
        }
        &.col-md-12{
          h3{
            margin-bottom: 30px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.login{
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .login-text-box{
    strong{
      font-size: 24px;
    }
    h2{
      margin-top: 10px;
      font-size: 48px;
      font-weight: bolder;
      color: $primary;
    }
  }
  form{
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
    .form-group{
      &.email{}
      &.password{}
      .form-control{
        width: 450px; height: 55px;
        border-radius: 10px;
        color: #fff;
        border: 1px lightgrey solid;
        background: #000;
        &:focus{
          border: 1px solid $primary;
          box-shadow: 0 0 5px $primary;
          &::placeholder{
            color: transparent;
          }
        }
        &::placeholder{
          color: lightgrey;
        }
      }
    }
    a{
      margin-top: 10px;
      color: $primary;
      text-decoration: none;
      svg{
        margin-right: 10px;
        margin-bottom: 5px;
        fill: $primary;
      }
    }
    .btn{
      height: 55px;
      margin-top: 20px;
      background-color: #000;
      border: 1px solid $primary;
      font-size: 20px;
      font-weight: bold;
      &:hover{
        background-color: $primary;
        color: #000;
      }
    }
    .form-check{
      margin-top: 10px;;
      input{
        border-radius: 50%;
        background-color: #000;
        border: 1px solid $primary;
        &:checked{
          background-color: $primary;
        }
      }
      label{}
    }
  }
  .login-other-way{
    margin-top: 50px;
    strong{
      font-size: 20px;
    }
    ul{
      margin-top: 20px;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style: none;
      li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        button{
          width: 50px; height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 20px;
          border: 1px solid #fff;
          img{}
        }
        span{}
        &:hover{
          button{
            border: none;
            transition: .35s;
          }
          span{

            transition: .35s;
          }
          &:nth-child(1){
            button{
              background-color: #EA4335;
            }
            span{
              color: #EA4335;
            }
          }
          &:nth-child(2){
            button{
              background-color: #A2AAAD;
            }
            span{
              color: #A2AAAD;
            }
          }
          &:nth-child(3){
            button{
              background-color: #1877F2;
            }
            span{
              color: #1877F2;
            }
          }
          &:nth-child(4){
            button{
              background-color: #1DA1F2;
            }
            span{
              color: #1DA1F2;
            }
          }
          &:nth-child(5){
            button{
              background-color: #FEE500;
            }
            span{
              color: #FEE500;
            }
          }
          &:nth-child(6){
            button{
              background-color: #03C75A;
            }
            span{
              color: #03C75A;
            }
          }
        }
      }
    }
  }
}

// Not Found
.notFound{
  width: 100vw; height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  .notFrond-logo{
    position: relative;
    h2{
      font-size: 300px;
      font-weight: bold;
      color: $primary;
      em{
        color: $white;
        font-style: normal;
      }
    }
    img{
      width: 340px;
      position: absolute;
      bottom: -80px; left: 130px;
    }
  }
  .notFound-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    span{
      font-size: 36px;
    }
    strong{
      font-size: 32px;
    }
  }
  .notFound-button{
    width: 250px; height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary;
    font-size: 20px;
    text-decoration: none;
    color: $white;
    transition: .35s;
    &:hover{
      background-color: $primary;
      color: $black;
    }
  }
}