@import './fonts.scss';

/* Color */
$white: #FBFBFB;
$whiteOpacity30: rgba($white, .3);

$black: #191818;
$blackOpacity50: rgba($black, .5);
$blackOpacity30: rgba($black, .3);

$textPrimary: #FBFBFB;
$background: #000000;

$primary: #FFDC16;
$secondary: #F7D000;
$accent: #FFF0B3;

/* Fonts */
$fontBody: 'HakgyoansimWoojuR';